.vscode
crewai
.cache
__pycache__
chroma.sqlite3
test/
dist/
.env
assets/*
.idea
.DS_Store
.pytest_cache
praisonAI.egg-info
flagged
test.yaml
db
praisonai_prompt.txt
watch.sh
docs.sh
other

.chainlit
.files

site
# Ignore Sphinx build directory
docs/_build/
docs/source/
docs/build/

# Ignore Sphinx cache
docs/_build/doctrees/
docs/_build/doctrees/*
docs/_build/doctrees/.doctrees

# Ignore Sphinx logs and local build files
docs/_build/.buildinfo
docs/_build/.buildinfo/*
docs/_build/.buildinfo/.buildinfo