[tool.poetry]
name = "PraisonAI"
version = "0.0.27"
description = "PraisonAI application combines AutoGen and CrewAI or similar frameworks into a low-code solution for building and managing multi-agent LLM systems, focusing on simplicity, customization, and efficient human-agent collaboration."
authors = ["Mervin Praison"]
license = ""
readme = "README.md"

[tool.poetry.urls]
Homepage = "https://docs.praison.ai"
Repository = "https://github.com/mervinpraison/PraisonAI"

[tool.setuptools]
packages = ["PraisonAI"]

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
rich = ">=13.7"
pyautogen = ">=0.2.19"
crewai = ">=0.30.4"
markdown = ">=3.5"
crewai-tools = "^0.2.6"
praisonai-tools = ">=0.0.4"
blinker = ">=1.8.2"
Flask = ">=3.0.0"
chainlit = {version = "^1.1.301", optional = true}
gradio = {version = ">=4.26.0", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^8.0.0"
pre-commit = "^3.7"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
praisonai = "praisonai.__main__:main"

[tool.poetry.extras]
ui = ["chainlit"]
gradio = ["gradio"]