sphinx
sphinx_rtd_theme
sphinx-autodoc-typehints
mkdocs
markdown-include
mkdocs-material
mkdocs-jupyter
mkdocs-glightbox
pymdown-extensions
Pygments
mkdocstrings 
mkdocs-apidoc 
mkdocstrings-python
mkdocs-jupyter
pdoc3
rich
pyautogen
crewai
gradio
duckduckgo_search
praisonai_tools
open-interpreter
xmlrunner
unittest2
